/* Lớp bao toàn bộ trang đăng nhập */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Khung chính bên trong trang login */
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
/* Phần bên trái (chứa logo, mô tả) */
.loginLeft{
  width: 60%;
}
/* Phần bên phải (chứa form đăng nhập) */
.loginRight{
  width: 40%;
}
/* Cả hai phần trái và phải đều dùng flexbox để căn giữa nội dung */
.loginLeft,
.loginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Logo hoặc tên ứng dụng */
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

/* Mô tả ngắn gọn dưới logo */
.loginDesc {
  font-size: 24px;
}
/* Khung bao quanh form đăng nhập */
.loginBox{
  height: 340px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Tiêu đề form đăng nhập*/
.titleLogin{
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  color: #0866ff;
  margin-bottom: 5px;
}
/* Ô nhập liệu (tài khoản, mật khẩu) */
.loginInput{
  height: 45px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
/* Khi focus (nhấn vào input), bỏ viền mặc định màu xanh của trình duyệt */
.loginInput:focus{
  outline: none;
}
/* Dòng thông báo lỗi (ví dụ: sai mật khẩu) */
.errorForm{
  color: red;
  font-weight: bold;
}
/* Nút đăng nhập */
.loginButton{
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* Hiệu ứng hover của nút đăng nhập */
.loginButton:hover {
  background-color: #1775ee;
  opacity: 0.8;
}
/* Vùng chứa hai nút lựa chọn: Quên mật khẩu và Đăng ký */
.TextChoice{
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* Hai nút dạng text (liên kết) */
.forgotButton, .registerButton{
  text-align: center;
  color: #0866ff;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
/* Hiệu ứng hover: đổi màu nhẹ + gạch chân */
.forgotButton:hover, .registerButton:hover{
  color: #0866ff;
  opacity: 0.8;
  text-decoration: underline;
}