/* Toàn bộ khung nền của trang đổi mật khẩu */
.change {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hộp chứa form đổi mật khẩu */
.changeBox{
    width: 350px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Tiêu đề "Đổi mật khẩu" */
.titleChange{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #0866ff;
    margin-bottom: 15px;

}

/* Ô nhập mật khẩu */
.changeInput {
    height: 45px;
    border-radius: 8px;
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 15px;
}

/* Ẩn viền khi ô nhập được focus */
.changeInput:focus{
    outline: none;
}

/* Thông báo lỗi */
.errorForm{
    color: red;
    font-weight: bold;
}

/* Nút "Lưu thay đổi" và "Hủy bỏ" */
.changeButton, .cancelButton{
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* Nút "Hủy bỏ" - màu đỏ */
.cancelButton{
    background-color: red;
}

/* Nút "Lưu thay đổi" - màu xanh */
.changeButton {
    background-color: #1877f2; /* xanh Facebook */
}

/* Hiệu ứng hover cho nút xanh */
.changeButton:hover {
    background-color: #1877f2;
    opacity: 0.9;
}

/* Hiệu ứng hover cho nút đỏ */
.cancelButton:hover{
    background-color: red;
    opacity: 0.8;
}

/* Bố cục chứa hai nút ở góc dưới */
.TextChoice{
    display: flex;
    justify-content: end;
    gap: 10px;
}