/*Toàn bộ khung trang đăng ký */
.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Khung tổng chứa hai bên trái - phải */
.registerWrapper {
  width: 70%;
  height: 80%;
  display: flex;
}
/*Bên trái (phần giới thiệu) */
.registerLeft{
  width: 60%;
}

/*Bên phải (form đăng ký) */
.registerRight{
  width: 40%;
}

/* Căn chỉnh nội dung dọc giữa cho cả hai bên */
.registerLeft,
.registerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Logo tiêu đề */
.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

/* Mô tả ngắn */
.registerDesc {
  font-size: 24px;
}

/* Khung chứa form đăng ký */
.registerBox {
  height: 550px;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  
}

/* Tiêu đề trong form */
.titleregister {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #0866ff;
  margin-bottom: 5px;
}

/* Nhóm nhập họ tên */
.FullName{
  width: 100%;
}

.FullNameContain{
  display: flex;
  gap: 10px;
  width: 100%;
}

/* Ô nhập liệu chung */
.registerInput{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-left: 15px;
  transition: border 0.2s ease;
}

/* Ô nhập họ và tên */
.firstName, .lastName{
  flex: 1;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border 0.2s ease;
  width: 30px;
  padding-left: 10px
}

/* Nhóm giới tính, ngày sinh, quốc gia */
.genderGroupContain, .dobGroupContain, .countryContain{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex: 1;
  margin-top: 10px;
}

/* Ô chọn giới tính, ngày, tháng, năm, quốc gia */
.genderMan, .genderWoMen, .genderDiff, .selectBirthday, .selectcountry{
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Nút đăng ký */
.buttonregister {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.buttonregister:hover {
  background-color: #0d5bdd;
}

/* Nút dẫn sang đăng nhập */
.buttonLogin {
  text-align: center;
  color: #0866ff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buttonLogin:hover {
  opacity: 0.8;
  text-decoration: underline;
}