.minichat{
    position: absolute;
    z-index: 10000;
    right: 10px;
}

.miniChat{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.miniChatIcon {
    position: absolute;
    top: -1px;
    right: 1px;
    background-color: #fff; 
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    display: none;
    z-index: 10;
}
.minichat:hover .miniChatIcon {
    display: block;
}

.miniChatActive{
    position: absolute;
    right: 0;
    background-color: #32cd32;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 35px;
}