.rightbar {
    flex: 3.5;
    height: calc(100vh - 50px);
    overflow-y: hidden;
    position: sticky;
    top: 50px;
    scrollbar-gutter: stable;
}

.rightbar:hover {
    overflow-y: auto;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.birthdayContainer:hover {
  background-color: #f0f2f5;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    mix-blend-mode: multiply;
    mix-blend-mode: darken;
}

.birthdayText{
    font-weight: 400;
    font-style: 15px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    margin-top: 0;
    cursor: pointer;
}

.rightbarTitle, .Ads, .BirthdayTitle{
    margin-bottom: 10px;
    color: #a0a2a6;
    font-weight: bold;
}
.hrRightbar{
    margin-bottom: 10px;
}